<div class="organization-list">
  <div class="list-item" *ngFor='let organization of organizations'>
    <a class="website" href="{{organization.webUrl}}">Website</a>
    <h2>{{organization.organizationName}}</h2>
    <div class="form-group">
      <label>Address</label>
      <div class="address">
        <p>{{organization.address}}</p>
        <p>{{organization.city}}, {{organization.state}} {{organization.zipCode}}</p>
      </div>
    </div>
    <div class="form-group">
      <label>Phone Number</label>
      <p>
        <a href="tel:{{organization.phoneNumber}}">{{organization.phoneNumber}}</a>
      </p>
    </div>
    <div class="form-group">
        <label>Hours</label>
        <ul>
          <li>Monday: {{organization.mondayHours || 'Not listed'}}</li>
          <li>Tuesday: {{organization.tuesdayHours || 'Not listed'}}</li>
          <li>Wednesday: {{organization.wednesdayHours || 'Not listed'}}</li>
          <li>Thursday: {{organization.thursdayHours || 'Not listed'}}</li>
          <li>Friday: {{organization.fridayHours || 'Not listed'}}</li>
          <li>Saturday: {{organization.saturdayHours || 'Not listed'}}</li>
          <li>Sunday: {{organization.sundayHours || 'Not listed'}}</li>
        </ul>
      </div>
  </div>
</div>
