.map-section {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
    display: flex;
}

app-organization-list {
    flex: 1;
    overflow-y: scroll;
}

agm-map {
    flex-grow: 5;
    height: 100%;
}

@media screen and (max-width: 696px) {
    agm-map {
        display: none;
    }
}