.map-section {
width: 100%;
height: 100%;
    display: flex;
}

app-organization-list {
    flex: 1;
    overflow-y: scroll;
}

agm-map {
    flex-grow: 5;
    height: 100%;
}

@media screen and (max-width: 696px) {
    agm-map {
        display: none;
    }
}