/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import 'variables';

body {
    background-color: $gray;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Roboto Slab'
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

button.button-primary {
    background-color: $red;
    border: none;
    border-radius: 4px;
    color: $white;
    cursor: pointer;
    font-weight: 700;
    padding: $single-space;
}

button.button-primary:hover {
    background-color: $dark-red;
}

button.button-primary:active {
    background-color: $darker-red;
}

.card {
    background-color: $white;
    margin: $single-space;
    padding: $double-space;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
    h2 {
        margin: 8px 0 16px 0;
    }
}

.list-item {
    margin: 0;
    padding: $double-space;
    border: 1px solid $light-gray;
    border-top: none;
    transition: 0.2s ease;
    &:last-child {
        border-bottom: none;
    }

    &:hover, &:last-child:hover {
        box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
        border: 1px solid darkgray;
        transition: 0.2s ease;
    }

    h2 {
        margin: 8px 0 16px 0;
    }
}

.form-group {
    label {
        font-weight: bold;
        display: block;
    }

    ul {
        list-style: none;
        padding: 0;
    }

}