@import '../../variables';

#home {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: $quad-space;
    .card {
        width: 50%;
    }
}

@media screen and (max-width: 696px) {
    #home .card {
        width: 100%
    }
}