<section id="home">
  <div class="card">
    <h1>Get Help Lou</h1>
    <p>Get Help Lou is a free resource for anyone to use to find drug and addiction treatment and rehabilitation centers in
      or around Louisville, KY. This resource is heavily inspired by the tool
      <a href="http://gethelplex.org">Get Help Lex</a>.
    </p>
    <div class="search">
        What kind of facilities are you interested in?
    </div>
    <h3>What this is</h3>
    <p>This is a tool for anyone who is seeking facilities and centers that assist with addiction
        and substance abuse.
    </p>
    <h3>What this isn't</h3>
    <p>This tool is not a diagnosis tool, an assessment tool, or a substitute for any kind of treatment. <strong>If you or someone else is experiencing a medical emergency,
        please call <a href="tel:911">911</a> immediately</strong>.
    </p>
  </div>
</section>
